extends layout
block content
        div(class="container-fluid")
            div(class="container w-50 post-input-container")
                div(class="d-flex justify-content-center")
                    div(class="fs-2 fst-italic fw-light") What's on your mind?
                br
                div(class="d-flex justify-content-center form-floating")
                    form(method='POST' action='/postmessage' class="form-floating w-50 post-input-container")
                        input(type="hidden" value=currentUser._id)
                        textarea(class="form-control form-floating post-input" style="height: 150px" placeholder="" type="textarea" id="newpost" name="newpost" required)
                        label(for="newpost") Go right ahead..
                        br
                        div(class="d-flex justify-content-end")
                            button(class="btn btn-secondary" type="submit") Submit
            if (posts.length > 0)
                div(class="container w-25")
                    for post in posts
                        div(class="card card-margin")
                            if (currentUser.member=true)
                                div(class="card-header")
                                    div(class="card-inline")
                                        div(class="card-title" style="font-size: .7vw") #{post.postedBy.username}
                                        div(class="card-subtitle") #{post.datePostedFormatted}
                                    if (currentUser.isAdmin)
                                        form(method="POST" action="/deletemessage" class="delete-button")
                                            input(type="hidden" name="postid" value=post._id)
                                            button(class="btn btn-outline-danger delete-button") Delete
                            div(class="card-body text-center post-body") #{post.body}
                            
                        


